.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Для демонстрации */
}
.profile {
    flex-grow: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 80px;
    height: 300px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}
.profile-pic {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    object-fit: cover;
}

.profile > ul {
    margin-top: 20%;
    list-style: none;
    padding: 0;
    width: 100%;
}
.right-button {
    z-index: 9999;
    margin-top:250px;
    border-radius: 15px;
    right: 300px; /* прижимаем к правому краю */
    transform: translateY(-50%); /* корректируем вертикальное выравнивание */
    margin-left: 200px;
    /* width: 900px; */
    margin-right: 100px;
}
.right-button button {
    margin-right: 100px;
    width: 230px;
    display: block;
    margin-bottom: 10px;
    border-radius: 50px;
}
.edit-profile-form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #e0ddd5;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
    font-size: 16px;
    height: 750px;
}


.edit-profile-form form {
    background-color: #e0ddd5;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.edit-profile-form label {
    display: block;
    margin-bottom: 10px;

}

.edit-profile-form input[type="text"],
.edit-profile-form input[type="email"],
.edit-profile-form input[type="date"],
.edit-profile-form input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ff9898;
    background-color: #a19d90;
    border-radius: 5px;
    margin-bottom: 20px;
}

.edit-profile-form button[type="submit"] {
    background-color: #b48165;
    color: #fff;
    border: none;

    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
}

.edit-profile-form button[type="submit"]:hover {
    background-color: #a9a372;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}
.popup-header {
    display: flex;
    justify-content: flex-end;
}

.close-button {
    font-size: 24px;
    font-weight: bold;
    color: #100f0f;
    cursor: pointer;
}

.close-button:hover {
    color: #000;
}
/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #e0ddd5;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 100px;
}
.modal-content p {
    line-height: 0.1;
    font-family: 'Roboto', sans-serif;
}
.modal-content hr {
    line-height: 0.1;
    border-color: black;
    margin: 0;
}

.modal-content h2 {
    margin-left: 250px;
    padding-left: 25px;
    width: 250px;
    color: goldenrod;
    background-color: #494844;
    border-radius: 100px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.orders-wrapper {
    max-height: 400px;
    overflow-y: auto;
}

.order {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}

.orders {
    margin-bottom: 20px;
}

.left-buttonn{
    margin-top: -490px;
    margin-left:270px;
}

.edit-user button {
    width: 170px;
    display: inline;
    border-radius: 50px;
    margin-right: 50px;
    margin-left: 25px;
    font-size: 10px;
}
.list-user table {
    border-collapse: collapse;
    border: 1px solid black;
    margin-left: 16%;
    width: 500px;
}
.list-user table td, table th {
    border: 1px solid black;
    text-align: center;

}
.list-user td:nth-child(3) {
    width: 30%;
}
.list-user td:nth-child(1) {
    width: 50%;
}
#delete-user-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#message-container {
    margin-top: 10px;
}
#delete-user-form button {
    width: 200px;
    display: inline;
    border-radius: 50px;
    margin-right: 50px;
    margin-left: 55px;
    font-size: 12px;
}
#manage-roles-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#manage-roles-form button{
    width: 200px;
    display: inline;
    border-radius: 50px;
    margin-right: 50px;
    margin-left: 55px;
    font-size: 12px;
}
#manage-roles-form select{
    padding: 8px 20px; /* добавляем внутренний отступ */
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff 0%, #e6e6e6 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    cursor: pointer;
    width: 100%;
    max-width: 300px; /* ограничиваем максимальную ширину */
}
#manage-roles-form select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-color: #66afe9;
}

#manage-roles-form select option {
    padding: 10px;
    font-size: 16px;
}
#manage-roles-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    align-items: center;
}

#manage-roles-form input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px;
}

#manage-roles-form label[for] {
    display: inline-block;
    vertical-align: middle;
}

#manage-roles-form br {
    display: none;
}
